@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica', 'Segoe UI', 'Oxygen', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-slate-200;
  @apply text-slate-900;
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-slate-800;
    @apply text-white;
  }
}
